/* Background img */
body {
    font-family: 'Maven Pro', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("../images/address-book-bkgrd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Overlay for background */
.layer {
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
/*****************************/
/*******     MAIN     ********/
/*****************************/

.main-container {
    position: relative;
    z-index: 100;
}


/* Form */

.address-form {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(179,178,176, 0.6);
    height: 400px;
    width: 80%;
    max-width: 700px;
    border-radius: 5px;
}
.title {
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.form-parts {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
}
.addBtn {
    margin-bottom: 20px;
}


/* Contacts */

.contactRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.contact {
    background-color:  rgba(255,255,255,0.8);
    border-radius: 5px;
    width: 300px;
    height: 100px;
    margin: 10px 15px 10px 15px;
}
#contact-template {
    display: none;
}
.contact p {
    margin: 5px 7px 0px 7px;
}
.trashCan-circle {
    position: relative;
    float: right;
    right: -15px;
    bottom: 15px;
    background-color:  rgba(255,255,255,0.8);
    border: 2px solid black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.trashCan {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.clearfix {
    clear: both;
}